@mixin widthpadding($width, $padding){
	width: $width;
	padding: $padding;
}
div.row {
	margin-right: 0px;
}
div.container-fluid {
	padding-right: 0px;
}
.container-fluid {
	padding: 0 !important;
	margin: 0 !important;
}
.container {
	width: 450px !important;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
}
#contacto {
	@include widthpadding(100%, 20px 20px 0px 0px);
	background-color: #09A680;
}
header {
	width: 100%;
	height: auto;
	background: #09A680;
	text-align: center;
	a {
		font-size: 20px;
		color: white;
		font-family: Arial;
		text-decoration: none;
		font-weight: bold;
	}
	img {
		@include widthpadding(10rem, 25px);
		border-radius: 40%;
	}
}
.menav {
	a {
		&:hover {
			color: #e5e2e2;
		}
	}
}
.list-group {
	background-color: #09A680;
}
.hamburguer {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	width: 25rem;
}
.carousel-item {
	height: 65vh;
	min-height: 300px;
  }
#carrusel {
	img {
		width: 100%;
		height: auto !important; 
		border-top-left-radius: calc(0.25rem - 1px);
		border-top-right-radius: calc(0.25rem - 1px);
	}
}
#marcas {
	background-color: #09a680;
	img {
		@include widthpadding(100%, 10px);
		display: block;
		margin: auto;
		max-width: 300px;
	}
}
#tit-section-a {
	padding-top: 30px;
	padding-left: 5%;
	a {
		font-size: 40px;
		text-decoration: underline;
		color: black;
		font-family: Arial;
		font-weight: bold;
	}
}
#precio{
	font-size: 30px;
	color: #09A680;
  }
.list-group-item {
	background: #09A680 !important;
}
.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	width: 25rem;
	border: 2px solid rgba(0, 0, 0, 0.144) !important;
}
.collapse {
	.card-body {
		flex: 1 1 auto;
		padding: 1rem 1rem;
		background: #09A680 !important;
	}
}
#tit-section-b {
	padding: 30px 0px;
	text-align: center;
	a {
		font-size: 40px;
		text-decoration: underline;
		color: black;
		font-family: Arial;
		font-weight: bold;
		padding-left: 5%;
	}
}
#campaB {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #15684b;
	background-color: #26b885;
	font-size: 25px;
	color: #fff;
	position: fixed;
	left: 20px;
	bottom: 30px;
	z-index: 50;  }
	
#separacion1 {
	padding: 30px 0px 30px 30px;
	h4 {
		text-decoration: underline;
	}
	img {
		@include widthpadding(95%, 1%);
	}
}
.form__top {
	@include widthpadding(100%, 2rem 0 1rem);
	text-align: center;
	border-top: solid 0.4rem #09A680;
	margin-bottom: 1rem;
	h2 {
		font-weight: bold;
		font-family: Arial;
		color: #CAC8C8;
		font-size: 18px;
	}
}
h2 {
	span {
		color: #6DCCAA;
	}
}
.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	a {
		font-size: 20px;
		color: #575757;
		font-family: Arial;
		text-decoration: none;
		padding: 15px;
		font-weight: bold;
	}
}
.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}
.input {
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 2px;
	transition: all .5s;
	&:focus {
		border-bottom: solid #85D4B7 .2rem;
	}
}
.button {
	@include widthpadding(40%, .5rem);
	background-color: #EFEFEF;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 2px;
	transition: all .5s;
	border-bottom: none;
	background-color: #6DCCAA;
	color: white;
}
.btn__reset {
	@include widthpadding(40%, .5rem);
	background-color: #EFEFEF;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 2px;
	transition: all .5s;
	border-bottom: none;
	background-color: #6DCCAA;
	color: white;
	background-color: #85D4B7;
	&:hover {
		background-color: #26b885;
	}
}
.btn__submit {
	&:hover {
		background-color: #26b885;
	}
}
.datos1 {
	margin: 0px auto 0px 0px;
	border: 2px solid #d3d1d1;
	height: 30px;
	overflow: hidden;
	width: 100%;
	position: relative;
	input {
		border: 2px solid #d3d1d1;
		height: 30px;
		overflow: hidden;
		width: 100%;
		position: relative;
	}
}
select {
	@include widthpadding(100%, 5px);
	border: none;
	font-size: 14px;
	height: 30px;
	&:focus {
		outline: none;
	}
}
.datos {
	&::after {
		content: "\025be";
		display: table-cell;
		padding-top: 7px;
		text-align: center;
		width: 30px;
		height: 30px;
		background-color: #d9d9d9;
		position: absolute;
		top: 0;
		right: 0px;
		pointer-events: none;
	}
}
.designF {
	border: solid 2px #d9d9d9;
	background-color: #EFEFEF;
	width: 30%;
}
footer {
	padding: 20px;
	background-color: #000000;
	text-align: center;
	#tit-section-c {
		padding: 20px;
		a {
			font-size: 40px;
			text-decoration: none;
			color: #fff;
			font-family: Arial;
			font-weight: bold;
		}
		p {
			text-decoration: none;
			color: #fff;
			font-family: Arial;
			font-weight: bold;
		}
	}
	#sub-menu {
		text-align: center;
		padding: 10px;
		a {
			text-decoration: none;
			font-family: Arial;
			color: #ffffff;
			text-align: center;
			padding: 10px;
		}
	}
}
#titulo-tienda {
	padding: 20px;
}
#boton-carrito {
	width: 150px;
	height: 60px;
	border-radius: 10px;
	border: 3px solid #15684b;
	background-color: #26b885;
	font-size: 25px;
	color: #fff;
	display: flex;
	align-items: center;
	i {
		color: #fff;
	}
}
div {
	#tit-detalle {
		text-align: center;
	}
}
#congbox {
	width: 40%;
	align-content: center;
	border-radius: 5px;
	border: 2px solid #b3b3b3;
	margin: 1% 30%;
	text-align: center;
}
#menbox {
	margin: 20px;
}
#butbox {
	margin: 5% 0 5% 0;
}
#boton-contacto {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: 3px solid #15684b;
	background-color: #26b885;
	font-size: 25px;
	color: #fff;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 50;
}
#boton-telefono {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #15684b;
	background-color: #26b885;
	font-size: 25px;
	color: #fff;
	position: fixed;
	right: 200px;
	bottom: 30px;
	z-index: 50;
}
#boton-telefonoc {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #15684b;
	background-color: #26b885;
	font-size: 25px;
	color: #fff;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 50;
}
#rating {
	text-align: center;
	margin: 2%;
	h2 {
		font-size: 40px;
		color: black;
		font-family: Arial;
		font-weight: bold;
	}
}
@media (max-width: 991px) {
	.menav {
		color: #e5e2e2;
		display: none;
	}
	.menuav {
		a {
			color: white;
		}
	}
}
@media (min-width: 991px) {
	.menuav {
		color: #e5e2e2;
		display: none;
	}
}
@media (max-width: 1630px) {
	.card {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		width: 20rem;
	}
	#congbox {
		width: 60%;
		align-content: center;
		border-radius: 5px;
		border: 2px solid #b3b3b3;
		margin: 1% 20%;
		text-align: center;
	}
}
@media (max-width: 1330px) {
	.card {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		width: 18rem;
	}
}
@media (max-width: 1200px) {
	.card {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
		width: 99%;
	}
	.carousel-item {
		height: 50vh;
		min-height: 200px;
	}
}
@media (max-width: 1400px) {
	#separacion1 {
		padding: 30px 0px 30px 30px;
		margin: 0% 0% 2% 0%;
	}
	#congbox {
		width: 80%;
		align-content: center;
		border-radius: 5px;
		border: 2px solid #b3b3b3;
		margin: 1% 10%;
		text-align: center;
	}
}
@media (max-width: 950px) {
	#separacion1 {
	  padding: 30px 0px 30px 30px;
	  margin: 0% 0% 5% 0%; }
	#congbox {
	  width: 95%;
	  align-content: center;
	  border-radius: 5px;
	  border: 2px solid #b3b3b3;
	  margin: 1%;
	  text-align: center; } 
	  .carousel-item {
		height: 32vh;
		min-height: 200px;
	  }
	}
  @media (max-width: 750px) {
	.carousel-item {
	  height: 30vh;
	  min-height: 150px;
	}
  }
  @media (max-width: 500px) {
	.carousel-item {
	  height: 20vh;
	  min-height: 150px;
	}
  }
  @media (max-width: 370px) {
	.carousel-item {
	  height: 10vh;
	  min-height: 150px;
	}
  }
  